@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-method="post" asp-action="result">
    <p>Enter cats name:</p>
    <input type="text" name="name" />
    <p>Enter cats age:</p>
    <input type="number" name="age" />


    <input type="submit" />
</form>